<footer class="footer container-fluid">
  <div class="bottom">
    <div class="container">
      <div class="row">

        <div class="col-lg-6 col-xs-12 text-lg-left text-center">
          <span class="copyright-text pacifico">
            © Airport App
          </span> |
          <span class="credits">
            Developed by
            <a href="https://stackoverflow.com/users/8219012/hornet">My name</a>
          </span>
        </div>

        <div class="col-lg-6 col-xs-12 text-lg-right text-center">
          <ul class="list-inline">
            <li class="list-inline-item">
              <a [routerLink]="[]">
                <i aria="{:hidden=>&quot;true&quot;}" class="fa fa-facebook-square"></i>
              </a>
            </li>

            <li class="list-inline-item">
              <a [routerLink]="[]">
                <i aria="{:hidden=>&quot;true&quot;}" class="fa fa-twitter"></i>
              </a>
            </li>

            <li class="list-inline-item">
              <a [routerLink]="[]">
                <i aria="{:hidden=>&quot;true&quot;}" class="fa fa-google-plus"></i>
              </a>
            </li>

            <li class="list-inline-item">
              <a [routerLink]="[]">
                <i aria="{:hidden=>&quot;true&quot;}" class="fa fa-instagram"></i>
              </a>
            </li>

            <li class="list-inline-item">
              <a [routerLink]="[]">
                <i aria="{:hidden=>&quot;true&quot;}" class="fa fa-linkedin-square"></i>
              </a>
            </li>
          </ul>
        </div>

      </div>
    </div>
  </div>
</footer>