
#globe{
    margin: auto; 
    height: 125px;
    width: 125px;  
    display: table;  
      position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    margin:auto;
  }
  #plane{
    width: 100%;
    display: table-cell;
    vertical-align: middle;
    -webkit-animation: spin 2s infinite linear;
      -moz-animation: spin 2s infinite linear;
      -ms-animation: spin 2s infinite linear;
      animation: spin 2s infinite linear;
  }
  #plane:after{
    content: '';  
    display: block;  
    height: 30px;
    width: 30px;  
    background-image: url('./planeIcon.png');
    background: contain;
    background-size: 100%;
    background-repeat: no-repeat;  
    background-position: center;  
  }
  
  @-webkit-keyframes spin {
    to { -webkit-transform: rotate(360deg); }
  }
  @-moz-keyframes spin {
      to { -moz-transform: rotate(360deg); }
  }
  @-ms-keyframes spin {
      to { -ms-transform: rotate(360deg); }
  }
  @keyframes spin {
      to { transform: rotate(360deg); }
  }
  
  
  .loading-indicator {
    position:absolute;
    top:0px;
    left:0;
    right:0;
    bottom:0;
    margin:auto;
    width: 100px;
    height: 100px;
    -webkit-animation: spin 2s infinite linear;
    animation: spin 2s infinite linear;
  
  }
  
  .loading {
    max-width: 100px;
    max-height: 100px;
  }
  
  .loading-base {
    stroke: #f4c01c;
    stroke-dasharray: 50, 0;
  }
  
  .loading-circle {
    stroke-width: 5;
    fill: none;
    -webkit-transform: rotate(135deg);
    transform: rotate(135deg);
    -webkit-transform-origin: center;
    transform-origin: center;
    stroke-linecap: round;
  }
  
  @-webkit-keyframes spin {
    to {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  
  @keyframes spin {
    to {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }